# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# Miniprogram
/miniprogram/miniprogram_npm/
/miniprogram/node_modules/
/miniprogram/package-lock.json

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/

# Logs
*.log
logs/

# Cloud functions
cloudfunctions/node_modules/
cloudfunctions/package-lock.json
